* {}
html { width:100%; margin:0; padding:0; border:0;}
body { background:#fff; font-size:12px; font-family:Arial, Helvetica, sans-serif; /*background:url(http://media2.glamour-sales.com.cn/skin/frontend/glamour/default/images/common/bg-pagebody.gif) center 0  repeat-y;*/}
/*== reset font ==*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal; }
li { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
q:before, q:after { content:''; }
abbr, acronym { border:0; font-variant:normal; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input, textarea, select { font-family:inherit; font-size:inherit; font-weight:inherit; }
input, textarea, select { *font-size:100%;}
legend { color:#000; }
table { font-size:inherit; font:100%; }
pre, code, kbd, samp, tt { font-family:monospace; *font-size:108%; line-height:100%; }
/*== reset font ==*/
/*== clear fix ==*/
.clearfix:after { content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
.clearfix {/* overflow:auto;*/ zoom:1; overflow:hidden; line-height:0px; height:0px; font-size:0; clear:both;}

body { font: 12px/14px \5FAE\8F6F\96C5\9ED1,\5B8B\4F53,"Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;  }

a { outline:none; text-decoration:none; color:#999999 }

	body {
      margin-top: 1.0em;
      font-family: Helvetica, Arial, FreeSans, san-serif;
      color: #ffffff;
      width:100%;
      font-size:12px;
	  position:relative;
/*
	background:
		  radial-gradient(black 15%, transparent 16%) 0 0,
		  radial-gradient(black 15%, transparent 16%) 8px 8px,
		  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
			background-color:#282828;background-size:16px 16px;
	  */
	}

#allbox { width:960px; margin:0 auto;}
#items a { width:280px; height:240px; float:left; margin:8px;
		
		border-radius: 20px;
		
		-moz-box-shadow: -3px -3px 10px 2px rgba(0,0,0,.3) inset,
					0 0 0 15px rgba(255, 255, 255, .6) inset,
					0 0 0 1px rgba(0,0,0,.5),
					2px 2px 10px rgba(0,0,0,.6);
		box-shadow: -3px -3px 10px 2px rgba(0,0,0,.3) inset,
					0 0 0 15px rgba(255, 255, 255, .6) inset,
					0 0 0 1px rgba(0,0,0,.5),
					2px 2px 10px rgba(0,0,0,.6);
		/* Overrride for Webkit bug */
		-webkit-box-shadow: 0 0 0 15px rgba(255, 255, 255, .6) inset,
					0 0 0 1px rgba(0,0,0,.5),
					2px 2px 10px rgba(0,0,0,.6);
background-color: #026873;
/*
background-image: linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
  linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
  linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
  linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%);
background-size: 13px, 29px, 37px, 53px;
*/

}
#items a img { width:280px; height:167px;	border-radius: 20px 20px 0 0; background: none repeat scroll 0 0 rgba(20, 20, 20, 0.7);}
#items a span { line-height:16px; display:block;padding:6px 2px 0 20px; color:black;}

#nav { width:60px; height:90%; position:fixed; right:20px;/* top: 50%; z-index: 6002; margin-top: -229px; */}
#nav .barbox {background-color: rgba(0, 0, 0, .8);border-radius: 10px;width:60px; height:100%; display:block;
		/*
		box-shadow: -3px -3px 10px 2px rgba(0,0,0,.3) inset,
					0 0 0 15px rgba(255, 255, 255, .6) inset,
					0 0 0 1px rgba(0,0,0,.5),
					2px 2px 10px rgba(0,0,0,.6);
		background-image: linear-gradient(0, rgba(255,255,255,.07) 50%, transparent 50%),
		  linear-gradient(0, rgba(255,255,255,.13) 50%, transparent 50%),
		  linear-gradient(0, transparent 50%, rgba(255,255,255,.17) 50%),
		  linear-gradient(0, transparent 50%, rgba(255,255,255,.19) 50%);
		background-size: 13px, 29px, 37px, 53px;
		position:relative;
		*/
}

#nav .drop { background-color: rgba(200, 200, 200, 1);border-radius: 4px;width:50px; height:30px; margin:5px;
color:black;text-align:center;line-height:30px;
position: absolute;

}

