body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:798px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:798px;
}

.u1 {
    position:absolute;
    left:2px;
    top:391px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:980px;
    height:798px
}

.u2_original {
    background-image: url('../bg-blog_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:796px;
    width:980px;
    height:404px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:986px;
    height:410px;
}

.u3 {
    position:absolute;
    left:2px;
    top:194px;
    width:976px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:0px;
    top:796px;
    width:980px;
    height:404px
}

